<div id="comment-well" class="well">
  <li>{{answer.content}}
    <br>
    <br>
    answer by {{answer.author}}
    <button class="btn" {{action 'delete' answer}}>Delete Answer</button>
  </li>

</div>
