
  <li id="answer-tile">
    <p>{{answer.content}}</p>
    <h4 id="ans-author">by {{answer.author}}</h4>
    <br>
    <button class="btn float-right" {{action 'delete' answer}}>Delete Answer</button>
  </li>
