<div class="question-tile">
  <li>
    {{#link-to 'question' question.id}} <span id="que-tile-title">{{question.content}}</span> {{/link-to}}
    <p id="q-tile-author">{{question.author}}</p>
  </li>

</div>
