
<div class="question-tile">
  <button class="btn" {{action 'delete' question}}>Delete</button>
  <div class="well">
    {{question.content}}

  </div>
</div>


<div class="question-tile">
  <h2>Answers</h2>

  <ul>
    {{#each question.answers as |answer|}}
    {{answer-tile answer=answer destroyAnswer="destroyAnswer"}}
    {{/each}}
  </ul>

</div>
