body {
  margin: 5%;
  background-image: url('./img/app.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Jim Nightshade', cursive;
}

div.container-fluid {
  background-color: rgba(245, 245, 245, 0.3);
}

.main-pg-well {
  border: none;
  font-size: 3em;
  box-shadow: 1px 1px 10px, inset 1px -1px 80px;
}

.main-pg-well,
.navbar-brand,
footer,
#new-question-form {
  text-align: center;
  background-color: rgba(245, 245, 245, 0.3);
}
.navbar-brand,
footer {
  font-size: 3em;
}

.question-tile {
  background-color: rgba(245, 245, 245, 0.3);
}

.funky {
  margin-top: 1%;
  font-size: 1.3em;
  text-shadow: 1px 2px 3px #000;
}

.navbar-header {
  padding: 1.5%;
}

li {
  list-style: none;
  font-size: 2.4em;
  background-color: rgba(245, 245, 245, 0.3);
  padding-left: 5%;
}

footer {
  text-align: center;
}
font-family: 'Jim Nightshade', cursive;
font-family: 'Simonetta', cursive;

.button {
  font-family: 'Simonetta', cursive;
  font-size: 4em;
  background-color: red;
}

img {
  width: 500px;
}
