body {
  margin: 5%;
  background-image: url('./img/app.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Jim Nightshade', cursive;
}

/*******
NAVBAR
********/
.navbar-default {
  border: none;
  box-shadow: 1px 1px 4px, inset 1px -1px 40px;
}

.navbar-header {
  padding: 2%;
}

.navbar-brand a {
  margin-right: 15%;
}

.navbar-default .navbar-brand {
  color:#000;
}

.navbar-brand {
  background-color: rgba(245, 245, 245, 0.3);
}

.navbar-brand,
footer {
  font-size: 3em;
}

/******
WELLS
******/

.main-pg-well {
  border: none;
  font-size: 3em;
  box-shadow: 1px 1px 10px, inset 1px -1px 80px;
}

.main-pg-well,
footer,
#new-question-form,
#edit-question-form,
#new-answer-form {
  text-align: center;
  background-color: rgba(245, 245, 245, 0.3);
}

ul {
  padding-right: 5%;
  font-size: 2em;
}

.btn {
  font-size: 2rem
}



/******
FORMS
******/

#edit-question-form,
#new-answer-form,
#new-question-form {
  font-size: 2.3rem;
}

.form-control {
  font-size: 2rem;
  font-family: 'Simonetta', cursive;
  width: 80%;
  margin: auto;
}

.question-tile {
  margin-top: 1%;
  font-size: 1.3em;
  font-weight: bold;
  text-shadow: 1px 2px 5px #000;
}

#new-question-form {
  background-color: rgba(245, 245, 245, 0.3);
  text-align: center;
}

/********
END FORMS
*********/

li {
  list-style: none;
  background-color: rgba(245, 245, 245, 0.3);
  padding-left: 5%;
}

/**********
QUESTIONS
***********/

#question-pg {
  background-color: rgba(245, 245, 245, 0.3);
  text-align: center;
  position: relative;
}

#edit-question {
  margin-top: 1%;
}

img {
  width: 500px;
}

#answer-tile {
  font-family: 'Simonetta', cursive;
  text-align: left;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  margin-bottom: 2%;
  border-radius: 5px;
}

#answer-tile p {
  padding-top: 2%;
  margin-bottom: 2%;
  margin-left: 3%;
  margin-right: 3%;
}
#answer-tile h4 {
  margin: 0;
  margin-left: 3%;
}

#answer-tile button {
  margin-left: 3%;
  margin-bottom: 2%;
}

#q-tile-author {
  text-shadow: 1px 1px 30px #fff;
}

.btn {
  font-family: 'Simonetta', cursive;
}

.btn:hover {
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}

footer {
  box-shadow: 1px 1px 4px, inset 1px -1px 40px;
  background-color: rgba(245, 245, 245, 0.9);
  text-align: center;
}


/*****
FONTS
*****/
font-family: 'Jim Nightshade', cursive;
font-family: 'Simonetta', cursive;
