<div class="container">
  <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">{{#link-to 'index'}} Home {{/link-to}} | </a>
          <li class="navbar-brand">A Princess Bride Q&A Message Board  </li>
        </div>
      </div>
    </nav>
  </header>
    {{outlet}}
  <footer>Created by Jason 'Montoya' Brown</footer>
</div>
