<div class="container">
  <div class="jumbotron">
  </div>
  <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">{{#link-to 'index'}}<img src="/icons/home.png" alt=""/> Home{{/link-to}}</a>
        </div>
      </div>
    </nav>
  </header>
  {{outlet}}
  <footer>Created by Jason 'Montoya' Brown</footer>
</div>
