<div class="container">
  <header >
    <nav class="navbar navbar-default">
      <div  class="container-fluid">
        <div id="red" class="navbar-header">
          <a  class="navbar-brand">{{#link-to 'index'}} Home {{/link-to}} </a>
          <span class="navbar-brand">|</span>
          <li class="navbar-brand"> A Princess Bride Question and Answer Forum  </li>
        </div>
      </div>
    </nav>
    <div class="well main-pg-well">
      <p> "I do not think it means what you think it means."</p>
      <h1>Post questions or answer any number of questions listed below.</h1>
    </div>
  </header>
    {{outlet}}
  <footer>Created by Jason T. Brown</footer>
</div>
