<div class="well main-pg-well">
  <p> A Princess Bride Question and Answer Forum</p>

  <h1>Post questions or answer any number of questions listed below.</h1>

</div>

<span class="button">{{new-question saveQuestion="saveQuestion"}}</span> 

<ul>
  {{#each model.questions as |question|}}
    {{question-tile question=question}}
  {{/each}}
</ul>

<hr>
