<h1>Welcome to Wesley's 'A Princess Bride' Question and Answer Forum</h1>

<h3>Post questions or answer any number of questions listed below.</h3>

{{new-question saveQuestion="saveQuestion"}}

<ul>
  {{#each model.questions as |question|}}
    {{question-tile question=question}}
  {{/each}}
</ul>

<hr>
